.button-style {
    color: #C0C0C0;
}
.button-restart {
    border-color: #5B1616;
    background-gradient-start: rgba(137, 71, 71, 1);
    background-gradient-end: rgba(137, 71, 71, 0.4);
}
.button-restart:hover {
    border-color: #5B1616;
    background-gradient-start: rgba(178, 110, 110, 1);
    background-gradient-end: rgba(178, 110, 110, 0.4);
}
