.button-style {
    color: #C0C0C0;
}

.button-paused-style {
    color: #215D9C;
}

.button-restart:hover {
    background-color: #AA4646;
}

.button-pause:hover {
    background-color: #215D9C;
}

.button-resume:hover {
    background-color: #6CAD2B;
}
